body {
  background: url('.././images/foodfun_bg.jpg') no-repeat center fixed;
  background-size: cover;

  padding: 20px;
}

.big-body {
  position: relative;
  padding-left: 7%;
  height: 100%;
}

.food-fun-header {
  position: relative;
  padding: 10px;
  background-color: floralwhite;
  width: 35%;
  border: 3px solid black;
  border-radius: 10px;
}

.edamam {
  position: absolute;
  top: 5%;
  right: -7%;
  width: 30%;
}

.log-out-button {
  position: absolute;
  top: 80%;
  right: 1%;
  width: 14%;
}

.main-image {
  position: relative;
  top: 13px;
  margin-right: 2%;
  width: 9%;
  height: 9%;
}

.user-bar {
  position: absolute;
  top: 30%;
  right: 2%;
}

.user-icon {
  display: inline-block;
  width: 20%;
  height: 20%;
  margin-right: 9%;
}
.name-txt {
  display: inline-block;
  font-size: 90%;
}

.food-fun-title {
  font-size: 200%;
}

.food-fun-description {
  font-size: 100%;
}

.food-fun-header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.input-area {
  position: relative;
  bottom: 120px;
  left: 50%;
  width: 30%;
  height: 200px;
  display: flex;
  margin-bottom: 0px;
}

.food-search-bar {
  display: flex;
  width: 100%;
  height: 25%;
  padding-left: 20px;
  border-radius: 20px;
  font-size: large;
}

.search-button {
  display: flex;
  height: 50px;
  margin-left: 10px;
  border-radius: 20px;
  font-size: large;
  float: left;
}

.food-posts {
  display: flex;
  flex-flow: row wrap;
}

.search-results-text {
  margin-left: 37%;
  font-size: 30px;
  font-style: oblique;
  font-weight: 800;
}

.sortby-container {
  padding: 2%;
  background-color: floralwhite;
  position: absolute;
  bottom: -45%;
  left: 0px;
  width: 30%;
  height: auto;
  border: 2px solid gray;
  border-radius: 10px;
}

.sortby-label {
  font-size: 80%;
}

.sortby-options {
  display: flex;
  flex-direction: column;
  height: 200px;
}

.sortby-button {
  width: fit-content;
  margin-top: 5px;
  font-size: 80%;
}

.sort-txt {
  font-size: 95%;
}

.filter-txt {
  font-size: 95%;
}

.filter-container {
  padding: 2%;
  background-color: floralwhite;
  position: absolute;
  bottom: -50%;
  right: 0px;
  width: 40%;
  height: auto;
  border: 2px solid gray;
  border-radius: 10px;
}

.filter-options {
  display: flex;
  flex-direction: column;
  height: 200px;
}

option {
  font-size: 90%;
}

.filter-label {
  font-size: 75%;
}

.meal-spacing {
  margin-bottom: 30px;
}

.minCalEntry {
  width: 30px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 100%;
}

.maxCalEntry {
  width: 30px;
  font-size: 100%;
}

.minTimeEntry {
  width: 30px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 100%;
}

.maxTimeEntry {
  width: 30px;
  font-size: 100%;
}

.mealTypeSelector {
  margin-left: 5px;
}

.filter-warning {
  color: red;
  font-size: 10px;
  position: relative;
  bottom: 50px;
}