.full-post-body {
    position: relative;
    margin-top: 20px;
    width: 90%;
    height: 100%;
    background-color: floralwhite;
    border: 2px solid black;
    border-radius: 20px;
    padding: 20px;
    background-color: wheat;
}

.fp-image {
    width: 30%;
    height: 400px;
    border-radius: 70px;
    margin-right: 40px;
}

.fp-ingredient-list {
    position: absolute;
    left: 32%;
    top: 15%;
    margin-bottom: 2%;
}

.fp-ing-item {
    font-size: 15px;
}

.fp-cal-fat-info {
    position: absolute;
    top: 2%;
    right: 2%;
}

.fp-cal-label {
    margin-bottom: -10px;
    font-size: large;
}

.fp-fat-label {
    margin-bottom: -10px;
    font-size: large;
}

.fp-ps-label {
    color: gray;
}

.fp-time-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 5%;
    right: 15%;
    width: 9%;
}

.fp-time-image {
    position: relative;
    margin-right: 5px;
    top: 15px;
    width: 30px;
    height: 30px;
}

.fp-time-label {
    font-size: large;
}

.fp-click-here-link {
    position: relative;
    margin-top: 10px;
}

.fp-recipe-link {
    font-size: large;
}

.fp-health-label-container {
    position: absolute;
    right: 2%;
    top: 30%;
}

.fp-health-item {
    font-size: large;
}

.fp-health-ul {
    list-style-type: none;
}

.fp-like-container {
    width: 6%;
    position: absolute;
    top: 5%;
    left: 60%;
}

.fp-like {
    width: 40%;
    height: 40%;
    margin-right: 5px;
}

.fp-like:hover {
    background-color: #79b884;
    border-radius: 30%;
}

.fp-dislike {
    width: 40%;
    height: 40%;
}

.fp-dislike:hover {
    background-color: red;
    border-radius: 30%;
}

.numLikes {
    position: absolute;
    bottom: -90%;
    left: 15%;
}

.numDislikes {
    position: absolute;
    bottom: -90%;
    right: 35%;
}

.fp-comments-container {
    padding: 10px;
    position: relative;
    left: 31%;
    width:55%;
    height: auto;
    border: 2px solid gray;
}

.back-button {
    position: absolute;
    bottom: 10px;
    width: 50px;
    height: 50px;
}

.back-button:hover {
    background-color: gray;
    border-radius: 50%;
}

.fp-comment-input {
    width: 200%;
    height: 25px;
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
}

.fp-postComment {
    position: absolute;
    top: 5%;
    right: 20%;
    width: auto ;
    height: 25%;
    background-color: rgba(74, 74, 202, 0.959);
    color: white;
    border-radius: 2px;
    border: 2px solid rgba(74, 74, 202, 0.959);
}

.comment-container {
    width: 100%;
    height: 10%;
    position: relative;
    padding-left: 10px;
    margin-top: -2%;
}

.fp-userIcon {
    height: 100%;
    width: 100%;
}

.fp-iconContainer {
    display: inline-block;
    height: 6%;
    width: 6%;
    margin-right: 2%;
}

.fp-textContainer {
    display: inline-block;
}

.fp-name {
    position: absolute;
    top: 2%;
    left: 10%;
    font-size: 90%;
    margin-bottom: -4%;
}

.com-date {
    position: absolute;
    top: 2%;
    right: 1%;
    font-size: 80%;
    margin-bottom: -4%;
}

.fp-stars {
    position: relative;
    left: 90%;
    bottom: 5px;
    font-size: 80%;
    margin-bottom: -4%;
}

.com-message {
    font-size: 90%;
    position: absolute;
    left: 10%;
    top: 30%;
}

.hLine {
    position: relative;
    border-width: 2px;
    background-color: wheat;
}