body {
  background: url('./images/foodfun_bg.jpg') no-repeat center fixed;
  background-size: cover;

  padding: 100px;
}

.input-area {
  display: flex;
  align-items: center;
  justify-content: center;
}

.food-search-bar {
  display: flex;
  width: 500px;
  height: 50px;
  padding-left: 20px;
  border-radius: 20px;
  font-size: large;
}

.search-button {
  display: flex;
  height: 50px;
  margin-left: 10px;
  border-radius: 20px;
  font-size: large;
  float: left;
}

.food-posts {
  display: flex;
  flex-flow: row wrap;

}