body {
  background: url('./images/foodfun_bg.jpg') no-repeat center fixed;
  background-size: cover;

  padding: 20px;
}

.big-body {
  position: relative;
  padding-left: 7%;
  height: 100%;
}

.food-fun-header {
  position: relative;
  padding: 10px;
  background-color: floralwhite;
  width: 35%;
  border: 3px solid black;
  border-radius: 10px;
}

.edamam {
  position: absolute;
  top: 10%;
  right: -5%;
}

.food-fun-header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.input-area {
  position: relative;
  bottom: 120px;
  left: 50%;
  width: 30%;
  height: 200px;
  display: flex;
  margin-bottom: 0px;
}

.food-search-bar {
  display: flex;
  width: 500px;
  height: 50px;
  padding-left: 20px;
  border-radius: 20px;
  font-size: large;
}

.search-button {
  display: flex;
  height: 50px;
  margin-left: 10px;
  border-radius: 20px;
  font-size: large;
  float: left;
}

.food-posts {
  display: flex;
  flex-flow: row wrap;
}

.search-results-text {
  margin-left: 37%;
  font-size: 30px;
  font-style: oblique;
  font-weight: 800;
}

.sortby-container {
  padding: 10px;
  background-color: floralwhite;
  position: absolute;
  bottom: -60px;
  left: 0px;
  width: auto;
  height: 80%;
  border: 2px solid gray;
  border-radius: 10px;
}

.sortby-label {
  font-size: 12px;
}

.sortby-options {
  display: flex;
  flex-direction: column;
  height: 200px;
}

.sortby-button {
  width: fit-content;
  margin-top: 5px;
}

.filter-container {
  padding: 10px;
  background-color: floralwhite;
  position: absolute;
  bottom: -60px;
  right: 0px;
  width: auto;
  height: 80%;
  border: 2px solid gray;
  border-radius: 10px;
}

.filter-options {
  display: flex;
  flex-direction: column;
  height: 200px;
}

.filter-label {
  font-size: 12px;
}

.meal-spacing {
  margin-bottom: 30px;
}

.minCalEntry {
  width: 30px;
  margin-left: 5px;
  margin-right: 5px;
}

.maxCalEntry {
  width: 30px;
}

.minTimeEntry {
  width: 30px;
  margin-left: 5px;
  margin-right: 5px;
}

.maxTimeEntry {
  width: 30px;
}

.mealTypeSelector {
  margin-left: 5px;
}

.filter-warning {
  color: red;
  font-size: 10px;
  position: relative;
  bottom: 50px;
}